body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    background-image: url(/img/LC\ \(2\).png)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Header */

.header-bg {
    background: #1F005D;
    height: 150px;
    border-bottom: 3px solid #A89E00;
}

.menu-pad{
    padding-top: 20px;
}

.menu {
    max-width: 960px;
    height: 100px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid transparent;
    border-radius: 38px;
    box-shadow: -1px -1px 0px #A89E00;
}

.menu:hover{
    color: #A89E00;
    border: 1px solid #A89E00;
    box-shadow: none;
}


.menu a {
    text-decoration: none;
    color: #A89E00;
    margin-left: 30px;
    flex-wrap: wrap;
    display: flex;
}

.menu-ul{
    display: flex;
    gap: 8px;
    text-transform: uppercase;
}

.nav a{
    border: 3px solid transparent;
    border-radius: 38px;
    box-shadow: -1px -1px 0px #A89E00;
    padding: 5px;
}

.nav a:hover {
    color: #A89E00;
    border: 3px solid #A89E00;
    box-shadow: none;
}

.menu-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-logo img {
   width: auto ;
   height: 70px ;
}

.btn-mobile {
    display: none;
}

@media (max-width: 600px){
    #menu-ul{
        display: block;
        position: absolute;
        width: 100%;
        top: 120px;
        right: 0px;
        background:#1F005D;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu-ul{
        height: calc(100vh - 120px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu-ul a{
        padding: 1rem 1rem;
        margin: 0 1rem;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        gap: .5rem;
        background: #1F005D;
        color: #A89E00;
    }
    #hamburger{
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: #A89E00;
    }
    #hamburger::after, #hamburger::before{
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    /* Intro */
    .desk-img {
        display: none;
    }
    .intro {
        gap: 10px;
    }
    .sobre-mimtodo{
        margin-left: 10px;
    }
    .intro a{
        margin-top: 16px;
    }
    /* Sobre */
    .sobre-info{
        margin-top: 120px;
        margin-left: 5px;
    }
    .img-me{
        margin-left: 30px;
    }
    /* Skills */
    .skills-me div {
        margin-left: 5px;
    }
    /* Logo */
    .menu-logo img {
        width: auto ;
        height: 35px ;
     }
}

/* Sobre Mim */

.sobre-mimtodo {
    max-width: 960px;
    display: flex;
    margin: 100px auto;
    padding: 20px 16px;
    border: 1px solid transparent;
    border-radius: 38px;
    box-shadow: -1px -1px 0px #A89E00;
}

.sobre-mimtodo:hover{
    border: 1px solid #A89E00;
    box-shadow: none;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    padding: 20px;
}

.intro h1 {
    color: #A89E00;
    text-transform: uppercase;
}
.intro h2 {
    color: #5C5600;
}
.intro p {
   font-style: italic;
}

.desk-img{
    margin-left: 95px;
    min-width: 320px;
    min-height: 320px;
}

.intro a {
    text-decoration: none;
    color: #A89E00;
    align-self: center;
    border: 3px solid transparent;
    border-radius: 38px;
    box-shadow: -3px -3px 0px #A89E00;
    padding: 20px;
    text-transform: uppercase;
}

.intro a:hover {
    border: 3px solid #A89E00;
    box-shadow: none;
}

/* Sobre */
.sobre-me {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sobre-info{
    border: 1px solid transparent;
    border-radius: 38px;
    box-shadow: -1px -1px 0px #A89E00;
    padding: 10px;
}

.sobre-info:hover{
    border: 1px solid #A89E00;
    box-shadow: none;
}

.sobre-info p {
    max-width: 300px;
    margin: 10px;
}

.sobre-info h1 {
    color: #A89E00;
    text-transform: uppercase;
    margin: 10px 0px 10px 10px;

}

.img-me {
    max-width: 300px;
    max-height: 200px;
}

/* Skills */

.js-svg, .css-svg, .html-svg {
    width: 100px;
    height: 100px;
}

.skills{
    margin-top: 70px;
}

.skills h1 {
    color: #A89E00;
    text-transform: uppercase;
}

.skills-me{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.skills-me ul {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid transparent;
    border-radius: 38px;
    box-shadow: -3px -3px 0px #A89E00;
    margin-top: 30px;
}

.skills-me ul:hover {
    border: 3px solid #A89E00;
    box-shadow: none;
}

.skills-me li {
    margin: 30px;
}

/* Contato */
.contato{
    max-width: 580px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.contato h2 {
    text-align: center;
    text-transform: uppercase;
    color: #A89E00;
}

.divflex{
    border: 2px solid transparent;
    border-radius: 38px;
    box-shadow: -2px -2px 0px #A89E00;
    margin: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-grow: 1;
}

.divflex:hover{
    border: 2px solid #A89E00;
    box-shadow: none;
    
}

.divflex span img{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 38px;
}

.git:hover{
    border-radius: 38px;
    background: #AFB5BB;
}

.cel:hover{
    border-radius: 38px;
    background: #25D366;
}

.email:hover{
    border-radius: 38px;
    background: #c71610;
}

.link:hover{
    border-radius: 38px;
    background: #2867B2;
}

.divflex a {
   display: flex;
   align-items: center;
   text-transform: none;
   color: #A89E00;
}

.divflex a:hover{
    color: #A89E00;
}
.quebra {
    text-align: center;
    text-transform: uppercase;
    color: #A89E00;
    margin-top: 60px;
}

/* Footer */

.footer {
   text-align: center;
   margin-bottom: 20px;
}


