body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    background-image: url(/img/LC\ \(2\).png)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Header */

.header-bg {
    background: #1F005D;
    height: 150px;
    border-bottom: 3px solid #A89E00;
}

.menu-pad{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    
}

.menu {
    max-width: 960px;
    flex-grow: 1;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid transparent;
    border-radius: 38px;
    box-shadow: -1px -1px 0px #A89E00;
}

.menu:hover{
    color: #A89E00;
    border: 1px solid #A89E00;
    box-shadow: none;
}


.menu a {
    text-decoration: none;
    color: #A89E00;
    margin-left: 30px;
    flex-wrap: wrap;
    display: flex;
}

.menu-nav li {
    display: inline-block;
    flex-wrap: wrap;
    margin: 30px;
    text-transform: uppercase;
}

.menu-nav a{
    border: 3px solid transparent;
    border-radius: 38px;
    box-shadow: -1px -1px 0px #A89E00;
    padding: 5px;
}

.menu-nav a:hover {
    color: #A89E00;
    border: 3px solid #A89E00;
    box-shadow: none;
}

/* Sobre Mim */

.sobre-mimtodo {
    max-width: 960px;
    display: flex;
    margin: 100px auto;
    padding: 20px 0px;
    border: 1px solid transparent;
    border-radius: 38px;
    box-shadow: -1px -1px 0px #A89E00;
}

.sobre-mimtodo:hover{
    border: 1px solid #A89E00;
    box-shadow: none;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
    padding: 20px;
}

.intro h1 {
    color: #A89E00;
    text-transform: uppercase;
}
.intro h2 {
    color: #5C5600;
}
.intro p {
   font-style: italic;
}

.desk-img{
    margin-left: 95px;
}

.intro a {
    text-decoration: none;
    color: #A89E00;
    align-self: center;
    border: 3px solid transparent;
    border-radius: 38px;
    box-shadow: -3px -3px 0px #A89E00;
    padding: 20px;
    text-transform: uppercase;
}

.intro a:hover {
    border: 3px solid #A89E00;
    box-shadow: none;
}

/* Sobre */
.sobre {
  
}

.sobre-me {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sobre-info{
    border: 1px solid transparent;
    border-radius: 38px;
    box-shadow: -1px -1px 0px #A89E00;
    padding: 10px;
}

.sobre-info:hover{
    border: 1px solid #A89E00;
    box-shadow: none;
}

.sobre-info p {
    max-width: 300px;
    margin: 10px;
}

.sobre-info h1 {
    color: #A89E00;
    text-transform: uppercase;
    margin: 10px 0px 10px 10px;

}

.img-me {
    max-width: 300px;
    max-height: 200px;
}

/* Skills */

.js-svg, .css-svg, .html-svg {
    width: 100px;
    height: 100px;
}

.skills{
    margin-top: 70px;
}

.skills h1 {
    color: #A89E00;
    text-transform: uppercase;
}

.skills-me{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.skills-me ul {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid transparent;
    border-radius: 38px;
    box-shadow: -3px -3px 0px #A89E00;
    margin-top: 30px;
}

.skills-me ul:hover {
    border: 3px solid #A89E00;
    box-shadow: none;
}

.skills-me li {
    margin: 30px;
}

/* Contato */
.contato{
    max-width: 580px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.contato h2 {
    text-align: center;
    text-transform: uppercase;
    color: #A89E00;
}

.divflex{
    border: 2px solid transparent;
    border-radius: 38px;
    box-shadow: -2px -2px 0px #A89E00;
    margin: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-grow: 1;
}

.divflex:hover{
    border: 2px solid #A89E00;
    box-shadow: none;
    
}

.divflex span img{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 38px;
}

.git:hover{
    border-radius: 38px;
    background: #AFB5BB;
}

.cel:hover{
    border-radius: 38px;
    background: #25D366;
}

.email:hover{
    border-radius: 38px;
    background: #c71610;
}

.link:hover{
    border-radius: 38px;
    background: #2867B2;
}

.divflex a {
   display: flex;
   align-items: center;
   text-transform: none;
   color: #A89E00;
}

.divflex a:hover{
    color: #A89E00;
}
.quebra {
    text-align: center;
    text-transform: uppercase;
    color: #A89E00;
    margin-top: 60px;
}

/* Footer */

.footer {
   text-align: center;
   margin-bottom: 20px;
}